<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>飲酒度チェック</title>
</head>
<body>
<h1>飲酒度チェック</h1>
<form method="post" th:action="@{/check/drunk}">
	お名前：
	<div th:text="${name}">◯◯◯◯◯◯◯◯◯◯</div>
	状態：
	<div th:text="${status}">酔っ払い状態</div><br>
	合計：  <div th:text="${total}">000ml</div>
	<label>何を：</label>
	<select name="typeId">
		<option th:each="drink : ${drinkSelect}" th:value="${drink.name}" th:selected="${drink.name} == *{typeId}">[[${drink.name}]]</option>
	</select><br>
	どれだけ
	<input th:text="${alchol}"> 
	<input type="submit" value="飲んだ！">
</form>
<br>
<h3>何を　どれだけ</h3>
<table>
	<tr th:each="obj : ${drinkList}">
		<td th:text="${obj.name}">日本酒</td>
		<td th:text="${obj.quantity}">180ml</td>
</table>
</body>
</html>